{% extends "views/layout.html" %}
{% block body %}
<form action="/update/{{ employee.id }}" method="POST">
    
    <input type="hidden" name="id" value="{{ employee.id }}">

    <div class="field">
        <label class="label">Firstname</label>
        <div class="control">
          <input class="input" name="firstname" type="text" placeholder="e.g Alex" value="{{ employee.firstname }}">
        </div>
    </div>
      
    <div class="field">
        <label class="label">Lastname</label>
        <div class="control">
          <input class="input" name="lastname" type="text" placeholder="e.g Smith" value="{{ employee.lastname }}">
        </div>
    </div>

    <div class="field">
        <label class="label">Phone</label>
        <div class="control">
          <input class="input" name="phone" type="text" placeholder="012-345-6789" value="{{ employee.phone }}">
        </div>
    </div>

    <div class="field">
        <label class="label">Positions</label>
        <div class="control">
          <div class="select">
            <select name="pos_id">
                {% for pos in positions %}
                    {% if employee.pos_id == pos.id %}
                        <option value="{{ pos.id }}" selected>{{ pos.name }}</option>
                    {% else %}
                        <option value="{{ pos.id }}">{{ pos.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
          </div>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <a href="{{ url_for('Index') }}" class="button is-link is-light">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}